
        <div class="container">
          <h2>About Us</h2>
        </div> 
      </div> 
    </div>
  <!-- gallery -->
  <div class="gallery">
    <div class="container">  
      <h3 class="w3ls-title">Our Gallery</h3> 
      <div class="gallery-grids-top">
        <div class="gallery-grids">
          <div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img"> 
            <a class="example-image-link w3-agilepic" href="s1.jpg" data-lightbox="example-set" data-title="">
              <%= image_tag "s1.jpg", class: "example-image img-responsive",  alt: "" %> 
              <div class="w3ls-overlay">
                <h4>Our Gallery</h4>
              </div> 
            </a> 
          </div>  
          <div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
            <a class="example-image-link w3-agilepic" href="images/s2.jpg" data-lightbox="example-set" data-title="">
           <%= image_tag "s2.jpg", class: "example-image img-responsive",  alt: "" %>  
              <div class="w3ls-overlay">
                <h4>Our Gallery</h4>
              </div> 
            </a> 
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
            <a class="example-image-link w3-agilepic" href="images/s3.jpg" data-lightbox="example-set" data-title="">
             <%= image_tag "s3.jpg", class: "example-image img-responsive",  alt: "" %> 
              <div class="w3ls-overlay">
                <h4>Our Gallery</h4>
              </div> 
            </a> 
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 gallery-grid-img gallery-mdl hover ehover14"> 
            <a class="example-image-link w3-agilepic" href="images/img5.jpg" data-lightbox="example-set" data-title="">
             <%= image_tag "img5.jpg", class: "example-image img-responsive",  alt: "" %> 
              <div class="w3ls-overlay">
                <h4>Our Gallery</h4>
              </div> 
            </a>
          </div>  
          <div class="col-md-6 col-sm-6 col-xs-6 gallery-grid-img gallery-mdl hover ehover14">
            <a class="example-image-link w3-agilepic" href="images/img1.jpg" data-lightbox="example-set" data-title="">
              <%= image_tag "img1.jpg", class: "example-image img-responsive",  alt: "" %> 
              <div class="w3ls-overlay">
                <h4>Our Gallery</h4>
              </div> 
            </a> 
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14"> 
            <a class="example-image-link w3-agilepic" href="images/img3.jpg" data-lightbox="example-set" data-title="">
              <%= image_tag "img3.jpg", class: "example-image img-responsive",  alt: "" %> 
              <div class="w3ls-overlay">
                <h4>Our Gallery</h4>
              </div> 
            </a> 
          </div>  
          <div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
            <a class="example-image-link w3-agilepic" href="images/img4.jpg" data-lightbox="example-set" data-title="">
              <%= image_tag "img4.jpg", class: "example-image img-responsive",  alt: "" %> 
              <div class="w3ls-overlay">
                <h4>Our Gallery</h4>
              </div> 
            </a> 
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
            <a class="example-image-link w3-agilepic" href="images/s4.jpg" data-lightbox="example-set" data-title="">
              <%= image_tag "s4.jpg", class: "example-image img-responsive",  alt: "" %> 
              <div class="w3ls-overlay">
                <h4>Our Gallery</h4>
              </div> 
            </a>
          </div>  
          <div class="clearfix"> </div> 
          <script src="js/lightbox-plus-jquery.min.js"></script>  
        </div> 
      </div> 
    </div>
  </div>
  <!-- //gallery -->    
  <!-- features -->
  <div class="features about">
    <div class="container">   
      <div class="wthree-features-row">
        <div class="col-md-4 features-w3grid">
          <div class="col-xs-3 features-w3lleft">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9 features-w3lright"> 
            <h4>CONTACT</h4>
            <p>+01 111 222 3333</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 features-w3grid">
          <div class="col-xs-3 features-w3lleft">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9 features-w3lright"> 
            <h4>LOCATION</h4>
            <p>Broome St, New York, NY 10002</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 features-w3grid">
          <div class="col-xs-3 features-w3lleft">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9 features-w3lright"> 
            <h4>EMAIL</h4>
            <p><a href="mailto:info@example.com"> mail@example.com</a></p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!-- //features -->
  
 